@import "../main/main";

.portfolio{
  padding: 10px 0;
  margin-top: 70px;
}

.portfolio__item{
  padding: 50px 0;
  margin-bottom: 20px;
}

.portfolio__item__title{
  font-size: 1.30rem;
}

.portfolio__item__image{
  width: 95%;
  margin: 0 auto;
  margin-top: 25px;
}

.portfolio__item__text{
  padding-top: 60px;
}

[id*="item"]{
  opacity: 0;
  transform: scale(0.9);
  transition: all 1s ease-in-out;
}

[id*="item"].visible{
  opacity: 1;
  transform: none;
}

//Media queries
@import "./small";
@import "./medium";
@import "./large";
@import "./xLarge";
